*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container,
.heading {
  display: flex;
}

.container {
  justify-content: space-between;
  margin: 0.4rem 1rem;
  flex-wrap: wrap;
}

.heading {
  align-items: center;
  gap: 0.4rem;
}

.heading img {
  width: 1.7rem;
  height: 1.7rem;
}

.heading h1 {
  font-size: 1rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  font-weight: bold;
  cursor: pointer;
  list-style-type: none;
  font-size: 0.8rem;
}

nav a {
  text-decoration: none;
  color: black;
}

/* Hero Section */
.hero-img {
  position: relative;
  overflow: hidden;
  height: 50vh;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  color: white;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(to top, rgb(79, 8, 60), transparent);
}

.hero-text-inner {
  padding: 0;
  max-width: 800px;
}

.date {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.hero-text-inner h2 {
  font-size: 2rem;
}

/* Main Content */
.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 1.25rem;
}

.blog-card {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section-img {
  aspect-ratio: 4 /3;
  width: 100%;
  overflow: hidden;
}

.section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 3%;
}

.section-text {
  /* margin: 0.7rem 0 3rem 0; */
  border-bottom: 1px dotted grey;
}

/* View More */
.view-more {
  display: flex;
  justify-content: center;
}

.view-more a {
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 2.25rem;
}

/* Footer */
footer {
  background-color: #202020;
  padding: 2.4rem;
}
footer p,
footer h4 {
  color: white;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
}

footer p {
  color: #d7d7d7;
}

/* Media Queries */
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container,
  .hero-text {
    padding: 0 3.3rem;
  }

  .hero-img {
    height: 90vh;
  }

  .hero-text-inner {
    width: 800px;
    padding-bottom: 3.375rem;
  }

  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .section-text {
    border-bottom: none;
  }
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

h1 {
  font-size: 1rem;
}

heading img {
  width: 32px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 0.7rem;
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav a {
  color: black;
  text-decoration-line: none;
  font-size: 0.875rem;
  font-weight: 500;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.hero-text-inner {
  max-width: 800px;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2.125rem 1.25rem 1rem 1.25rem;
}

.blog-card {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section-img {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 4%;
}

.section-text {
  padding: 1rem;
  border-bottom: 1px dotted #ccc;
}

.view-more a {
  color: black;
  font-weight: bolder;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding-top: 1.69rem;
  padding-bottom: 2.69rem;
}

footer {
  background-color: #202020;
  color: white;
  padding: 2rem;
}

footer p {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .hero-text-inner {
    font-size: 1.2rem;
  }
  .heading img {
    width: 40px;
  }

  nav a {
    font-size: 1rem;
  }

  .container {
    flex-wrap: nowrap;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .hero-text-inner {
    padding: 2rem 3rem;
  }

  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */
