html,
body {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav li {
  list-style-type: none;
  margin: 0.7rem;
}

nav a {
  color: black;
  text-decoration-line: none;
  font-weight: 500;
}
